extends layouts/main
    
block content
    group.project-wrapper
        li.project
            a(href=routes.first) Familiar, unfamiliar
            span
                iframe(src=routes.first)
        li.project
            a(href=routes.second) I.L.T 
            span
                iframe(src=routes.second)
        
        li.project
            a(href=routes.third) In oneself
            span
                iframe(src=routes.third)
        
        li.project
            a(href=routes.fourth) a questioning mind
            span
                iframe(src=routes.fourth)

        
        li.project
            a(href=routes.fifth) a swell 
            span
                iframe(src=routes.fifth)

        
        li.project
            a(href=routes.sixth.pug) floating village
            span
                iframe(src=routes.sixth)

        
        li.project
            a(href=routes.seventh.pug) about incompleteness
            span
                iframe(src=routes.seventh)

        
        li.project
            a(href=routes.eighth) tool kits for me
            span
                iframe(src=routes.eighth)

        
        li.project
            a(href=routes.ninth) personal space
            span
                iframe(src=routes.ninth)

        
        li.project
            a(href=routes.tenth) leave prints
            span
                iframe(src=routes.tenth)

        
        li.project
            a(href=routes.eleventh) full bloom
            span
                iframe(src=routes.eleventh)

        