extends layouts/main
    
block content
    .contact-wrapper
            .contact-main
                h5 #{siteName}
            .constact-genre
                h5 #{genre}
            .contact-area
                h5 South korea, #{area}
    .contact-wrapper           
            .icons
                div.contact-icon
                    i(class="fas fa-envelope-square") 
                    h5 email
                    h5 | wlskhj@icloud.com
                a.contact-icon(href="https://www.instagram.com/hyunujinu/?hl=ko") 
                    i(class="fab fa-instagram")
                    span Instagram
                a.contact-icon(href="https://www.tumblr.com/blog/hyunujinu") 
                    i(class="fab fa-tumblr-square") 
                    span Tumblr
    .contact-wrapper       
        .contact-copyright #{siteName} #{new Date().getFullYear()} &copy;